.scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff9e6; /* Light yellow background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .scoreboard .score {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    background-color: #f5c542; /* Primary yellow */
    color: #fff; /* Text color */
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .scoreboard .score p {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .scoreboard .score h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
  .scoreboard .player {
    width: 20%;
  }
  
  .scoreboard .computer {
    width: 20%;
  }
  
  @media (max-width: 600px) {
    .scoreboard {
      flex-direction: column;
    }
  
    .scoreboard .score {
      font-size: 1rem;
    }
  
    .scoreboard .score h2 {
      font-size: 1.5rem;
    }
  }
  